@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

#logo {
  margin-right: 80px;
}

li {
  list-style: none;
  margin-right: 40px;
  font-size: 14px;
  color: #fff;
}

ul {
  display: flex;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
}

header div {
  width: 1160px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
}
/* 
h1 {
  margin-right: 80px;
} */
/*
헤더
*/
/* strong {
}
span {
  background-color: burlywood;
  display: inline-block;
  margin-bottom: 20px;
}

p {
  background-color: burlywood;
} */

#mainPage {
  width: 100%;
  height: 1361px;
  background: url(./images/visual/background.png) center no-repeat;
  background-size: cover;
}

.visualContainer {
  width: 1160px;
  margin: 0 auto;
  padding-top: 272px;
}

.visualTitle {
  color: #fff;
  font-size: 72px;
  line-height: 100px;
  letter-spacing: -0.05em;
  margin-right: 80px;
}

.visualTitle span {
  color: #48f30c;
  margin-left: 4px;
}

.visualContainer p {
  color: #fff;
  font-size: 28px;
  line-height: 28px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.btn {
  gap: 24px;
  align-items: center;
  display: flex;
}

.research {
  width: 250px;
  border: 0px;
  height: 78px;
  background-color: #48f30c;
  border-radius: 62.5px;
  padding: 23px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.22px;
}

.research:hover {
  background: #31a608;
}

button img {
  width: 32px;
  height: 32px;
}

.request {
  border: 1px solid #48f30c;
  width: 194px;
  height: 78px;
  background-color: transparent;
  font-size: 22px;
  font-weight: 700;
  color: #48f30c;
  border-radius: 62.5px;
}

.request:hover {
  background-color: #fff;
  color: #000;
  border: 0px;
}

#secondPage {
  width: 100%;
  height: 1361px;
  background-color: #000;
}

.title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.6px;
  padding-top: 360px;
  text-align: center;
}

.title img {
  width: 28px;
  height: 28px;
  margin-left: 20px;
  margin-right: 20px;
}

.content {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.28px;
  padding-top: 80px;
}

.content span {
  color: #48f30c;
  text-align: center;
  font-size: 31px;
  font-weight: 700;
  line-height: 100%; /* 31px */
  letter-spacing: -0.31px;
}

.description {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.24px;
  padding-top: 48px;
  opacity: 0.8;
}

#section3 {
  width: 100%;
  height: 1361px;
  background-color: #f9fafb;
}

#why {
  margin: 200px auto 0;
  width: 120px;
  height: 64px;
  display: flex;
  padding: 20px 32px;
  text-align: center;
  align-items: center;
  gap: 4px;
  border-radius: 62.5px;
  background: #48f30c;
  color: #111;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.24px;
}

#ux {
  padding-top: 60px;
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 160%; /* 76.8px */
  letter-spacing: -2.4px;
}

#uxDescription {
  padding-top: 40px;
  color: #222;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
  letter-spacing: -0.48px;
}

#speech1 {
  padding-top: 120px;
}

#speech2 {
  padding-top: 66px;
}

#section4 {
  width: 100%;
  height: 936px;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section4Title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -2px;
}

#section4Content {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.4px;
  padding-top: 40px;
  padding-right: 133px;
}

#skill1 {
  width: 478px;
  height: 478px;
  flex-shrink: 0;
  margin: 196px auto;
}

#section5 {
  width: 100%;
  height: 936px;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section5Title {
  color: #fff;
  text-align: right;
  font-size: 40px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -2px;
}

#seciton5Content {
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.4px;
  padding-left: 106px;
  padding-top: 40px;
}

#skill2 {
  width: 460px;
  height: 460px;
  flex-shrink: 0;
  margin: 196px auto;
}

#section6 {
  width: 100%;
  height: 936px;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section6Title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 160%; /* 64px */
  letter-spacing: -2px;
}

#section6Content {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px; /* 180% */
  letter-spacing: -0.4px;
  padding-top: 40px;
  padding-right: 105px;
}

#section6P1 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.4px;
}

#section6P2 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.4px;
}

#section6Detail {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.4px;
}

#skill3 {
  width: 507px;
  height: 507px;
  margin: 196px auto;
}
